<html>
    
    <head>
        <title>&{'login.page_title'}</title>
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/login.css'}" />        
    </head>

    <body>
        
        <section id="title">
           <h2>&{'login.page_title'} </h2>
        </section>

        #{ifErrors}
        <section id="errors" class="errorsZone">
            <h1>&{'login.errors_title'}</h1>
        </section>
        #{/ifErrors}

        <section id="dataInputs">

            #{form @UserController.submitLoginForm()}                
                <table>
                    <tbody>
	                    <tr>
	                        <td>
	                            <label for="input_email" id="label_input_email">&{'login.email_label'}</label>
	                        </td>
	                        <td>
	                            <input type="text" id="input_email" name="email" value="${flash.email}" placeholder="&{'login.email_placeholder'}" />
	                        <td>
	                        <td>
	                            <span class="error">#{error 'email' /}</span>
	                        <td>
	                    </tr>

	                    <tr>
	                        <td>
	                            <label for="input_password" id="label_input_password">&{'login.password_label'}</label>
	                        </td>
	                        <td>
	                            <input type="password" id="input_password" name="password" value="" placeholder="&{'login.password_placeholder'}" />
	                        <td>
	                        <td>
	                            <span class="error">#{error 'password' /}</span>
	                        <td>
	                    </tr>
	                    
	                    <tr>
	                        <td colspan="3" align="right">
	                            <input type="submit" value="&{'login.submit'}"/> 
	                        </td>                    
	                    </tr>
	                </tbody>
	            </table>
            #{/form}
        </section>

    </body>

</html>