<html>
    
    <head>
        <title>&{'recoverAccount.reset.page_title'}</title>
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/login.css'}" />        
    </head>

    <body>
        
        <section id="title">
           <h2>&{'recoverAccount.reset.page_title'} </h2>
        </section>

        #{ifErrors}
        <section id="errors" class="errorsZone">
            <h1>&{'recoverAccount.reset.errors_title'}</h1>
        </section>
        #{/ifErrors}

        <section id="dataInputs">
            #{form @UserController.submitResetPasswordForm()}
                
                <input type="hidden" name="token" value="${token}"/>

                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label for="input_new_password" id="label_input_new_password">&{'recoverAccount.reset.new_password_label'}</label>
                            </td>
                            <td>
                                <input type="password" id="input_new_password" name="newPassword" value="" placeholder="&{'recoverAccount.reset.new_password_placeholder'}" />
                            <td>
                            <td>
                                <span class="error">#{error 'newPassword' /}</span>
                            <td>
                        </tr>

                        <tr>
                            <td>
                                <label for="input_repeat_password" id="label_input_repeat_password">&{'recoverAccount.reset.repeat_password_label'}</label>
                            </td>
                            <td>
                                <input type="password" id="input_repeat_password" name="repeatPassword" value="" placeholder="&{'recoverAccount.reset.repeat_password_placeholder'}" />
                            <td>
                            <td>
                                <span class="error"></span>
                            <td>
                        </tr>

                        <tr>
                            <td colspan="3" align="right">
                                <input type="submit" value="&{'recoverAccount.reset.submit'}"/> 
                            </td>                    
                        </tr>
                    </tbody>
                </table>
            #{/form}
        </section>

    </body>

</html>