<html>
	<head>
	   <title>&{'admin.index.page_title'}</title>      
	</head>

	<body>

        <p>
            &{'admin.index.header_text'}
        </p>
        <p>
            <ul>
                <li><a href="@{admin.AdminController.showSignUpPoliticianElectedForm}" >&{'admin.signup.elected.page_title'}</a></li>
                <li><a href="@{admin.AdminController.showSignUpPoliticianNonElectedForm}" >&{'admin.signup.nonelected.page_title'}</a></li>
            </ul>
        </p>

	</body>
</html>